.form {
	width: 100%;
	display: flex;
}

.form__group {
	flex: 1;
}

.form__button {
	max-width: 200px;
	width: 100%;
	min-height: 100%;
	transition: 0.3s ease-in-out all;
	font-size: 1em;
}

.form__button:hover {
	background: var(--color-light);
}

/* MEDIAQUERIES */
@media screen and (max-width: 450px) {
	.form__button {
		max-width: 100px;
		width: 100%;
		min-height: 100%;
	}
}
