@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--padding-w: 10em;

	--color-light: #fff;
	--color-gray-100: #f4f5f7;
	--color-gray-300: #d9dbe1;
	--color-gray-500: #eeeff4;
	--color-gray-600: #d7d8de;
	--color-gray-700: #969bab;
	--color-gray-800: #474a57;
	--color-gray-900: #18191f;
	--color-black-900: #0b0d17;
	--color-purple: #8c30f5;
	--color-purple-800: #d6b1ff;
	--color-purple-900: #f1e4ff;
	--color-white: #ffffff;
	--color-turquoise: #2ec5ce;
	--color-turquoise-100: #d5fafc;
	--color-turquoise-800: #75e3ea;
	--color-orange: #fe9a22;
	--color-orange-800: #ffc278;
	--color-red: #f39f9f;

	--font-family: "Inter";
	--font-h1: 4.5em;
	--font-h2: 3em;
	--font-h3: 2.5em;
	--font-h4: 1.75em;
	--font-h5: 1.5em;
	--font-h6: 1.25em;
	--font-body-1: 1em;
	--font-body-2: 0.875em;
	--font-lead-1: 1.125em;
	--font-label-small: 0.75rem;

	--weight-500: 500;

	--line-h-text: 1.5em;
}

body {
	font-size: 16px;
}

button {
	font-family: var(--font-family), sans-serif;
	border: none;
	outline: none;
	cursor: pointer;
}

input,
textarea,
select {
	font-family: var(--font-family), sans-serif;
	border: none;
	outline: none;
	font-size: 1em;
	width: 100%;
	padding: 1em;
}

select {
	padding: 0.7em;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@media screen and (max-width: 1060px) {
	body {
		font-size: 14px;
		transition: all ease 1s;
	}
}

@media screen and (max-width: 960px) {
	:root {
		--padding-w: 6em;
	}
}

@media screen and (max-width: 800px) {
	:root {
		--padding-w: 2em;
	}

	body {
		font-size: 12px;
	}
}
